<h3>Members</h3>
@if (User.Identity.IsAuthenticated)
{
<a asp-controller="Account" asp-action="Logout">Sign out</a>
	<p>Logged in user: @User.Identity.Name </p>
}
else
{
<a asp-controller="Account" asp-action="Register">Register</a>
<a asp-controller="Account" asp-action="Login">Sign In</a>
}
